button {
    width: 100%;
    background-color: #5DBA5D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.small-button {
    font-size: 12px; /* Adjust the font size */
    padding: 5px 10px; /* Adjust the padding */
  }
button:hover {
    background-color: #4aa64a;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Adjusts space between the buttons */
    margin-top: 20px; /* Adds some space above the button container */
}

.button-container button {
    flex: 1; /* Makes each button take equal space */
    margin: 0 10px; /* Adds margin to the left and right of each button */
}

.final-assessment {
    font-weight: bold;
    font-size: 1.5em;
  }  